<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drsg.gochat.v1.mapper.UserInfoMapper">
    <!--    <resultMap id="BaseResultMap" type="com.example.v1.entity.UserInfo">-->
    <!--        <id column="USER_ID" jdbcType="NUMERIC" property="userId"/>-->
    <!--        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>-->
    <!--        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>-->
    <!--        <result column="AVATAR_URL" jdbcType="VARCHAR" property="avatarUrl"/>-->
    <!--        <result column="SEX" jdbcType="CHAR" property="sex"/>-->
    <!--        <result column="SIGNATURE" jdbcType="VARCHAR" property="signature"/>-->
    <!--        <result column="ENABLED" jdbcType="CHAR" property="enabled"/>-->
    <!--        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>-->
    <!--        <result column="CHANNEL" jdbcType="VARCHAR" property="channel"/>-->
    <!--        <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday"/>-->
    <!--        <result column="NICKNAME" jdbcType="VARCHAR" property="nickname"/>-->
    <!--        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>-->
    <!--    </resultMap>-->
    <resultMap id="UserRoleResultMap" type="com.drsg.gochat.v1.entity.UserInfo">
        <id column="USER_ID" jdbcType="NUMERIC" property="userId"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="AVATAR_URL" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="SEX" jdbcType="CHAR" property="sex"/>
        <result column="SIGNATURE" jdbcType="VARCHAR" property="signature"/>
        <result column="ENABLED" jdbcType="CHAR" property="enabled"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="CHANNEL" jdbcType="VARCHAR" property="channel"/>
        <result column="BIRTHDAY" property="birthday"/>
        <result column="NICKNAME" property="nickname"/>
        <result column="EMAIL" property="email"/>
        <result column="EMAIL_VERIFIED" property="emailVerified"/>
        <collection property="roles" ofType="com.drsg.gochat.v1.entity.RoleInfo">
            <id column="ROLE_ID" property="roleId"/>
            <result column="ROLE_NAME" property="roleName"/>
            <result column="DESCRIPTION" property="description"/>
        </collection>
    </resultMap>

    <select id="loadByUsername" resultMap="UserRoleResultMap">
        select
        UI.USER_ID USER_ID,
        USERNAME,
        PASSWORD,
        AVATAR_URL,
        SEX,
        ENABLED,
        NICKNAME,
        RI.ROLE_ID,
        ROLE_NAME
        from USER_INFO UI
                 inner join USER_ROLE UR on UI.USER_ID = UR.USER_ID
                 inner join ROLE_INFO RI on UR.ROLE_ID = RI.ROLE_ID
        where USERNAME = #{username}
    </select>
    <select id="selectList" resultType="com.drsg.gochat.v1.entity.UserInfo">
        select USER_ID,
               USERNAME,
               AVATAR_URL,
               SEX,
               SIGNATURE,
               ENABLED,
               CREATE_TIME,
               CHANNEL,
               BIRTHDAY,
               NICKNAME,
               EMAIL,
               EMAIL_VERIFIED
        from USER_INFO
        <where>
            <if test="username != null">
                USERNAME like '%' || #{userName} || '%'
            </if>
            <if test="sex != null">
                AND SEX = #{sex}
            </if>
            <if test="enabled != null">
                AND "ENABLED" = #{enabled}
            </if>
            <if test="channel != null">
                AND CHANNEL = #{channel}
            </if>
            <if test="nickname != null">
                AND NICKNAME like '%' || #{nickname} || '%'
            </if>
            <if test="email != null">
                AND EMAIL like '%' || #{email} || '%'
            </if>
            <if test="emailVerified != null">
                AND EMAIL_VERIFIED = #{emailVerified}
            </if>
        </where>
    </select>
</mapper>